<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.enn.wise.ssop.service.cms.mapper.EnshrineMapper">


    <delete id="deleteEnshrine">
        DELETE
        FROM
            enshrine
        WHERE
            member_id = #{memberId}
        AND
            article_id = #{articleId}
         AND
            `type` = #{type}
    </delete>
</mapper>